body.dark-mode{
background-color: #1B2431 !important;
color: #fff !important;
}
body.dark-mode header,
body.dark-mode footer,
body.dark-mode .navbar-responsive,
body.dark-mode header nav ul.nav-right li{
background-color: #273142;
color:#fff;
}

body.dark-mode footer address {background-color:#1e2430}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode div,
body.dark-mode a,

body.dark-mode .login form label input, 
body.dark-mode header nav ul.nav-right svg,
body.dark-mode .register form label input, .my-page label input,
body.dark-mode nav.navbar-responsive ul li svg,
body.dark-mode header nav ul.nav-right .lang > div{color: #fff ;}


body.dark-mode header nav ul.nav-left li.header-logo a{ color :#FF9987 !important;}
body.dark-mode header nav ul .login-btn,
body.dark-mode .login .register-wrap a{color:#FF9987 !important; border:1px solid #FF9987;}
body.dark-mode header nav ul .login-btn:hover{color:#fff !important;}
body.dark-mode .logout-btn{color:#FF9987;}

body.dark-mode header nav ul a,
body.dark-mode .search-input{color: #fff;}
body.dark-mode ul.user-info li svg{color:#fff;}
body.dark-mode ul.user-info li svg:hover{color:#FF9987;}
body.dark-mode  div.my-sub-menu{background-color: #3d5370; border:1px solid #3d5370;}

body.dark-mode .stock-detail-wrap .tab-menus span, 
body.dark-mode .ai-recomm-wrap .tab-menus span,
body.dark-mode .main-listings > div .list-wrap ul li:hover{background-color: transparent !important;}



body.dark-mode .chart-realtime,
body.dark-mode .recommendation > div > div > div{background-color: #2d384c;}
body.dark-mode div.go-to-ai p{color:#fff;}

body.dark-mode .main-listings{background-color:#2d384c;}
body.dark-mode .main-listings > div{background-color: #273142;}
body.dark-mode .main-listings > div .list-wrap ul li{color: #fff;}

body.dark-mode .edit-info-modal div div,
body.dark-mode .edit-pw-modal div div{background-color: #2d384c;}
body.dark-mode .edit-info-modal div div label,
body.dark-mode .edit-pw-modal div div label{color:#fff;}

body.dark-mode .chat-bot-box{background-color: #2b3951;border: 1px solid #e9e9e9;}
body.dark-mode .chat-bot-menus{background-color: transparent;}
body.dark-mode .bot-chat{background-color: #1B222E;}
body.dark-mode .user-chat{background-color: #FB8773;}

body.dark-mode .chat-bot-body form input,
body.dark-mode .chat-bot-menus button{background-color: #273142; color: #fff;}



body.dark-mode .stock-detail-wrap .tab-menus span.btn-color, 
body.dark-mode .ai-recomm-wrap .tab-menus span.btn-color{color:#fff !important;border:1px solid #FA7260;
background-color: #FA7260 !important;}

body.dark-mode .ai-recomm-wrap .tab-menus span.btn-color{}

body.dark-mode .stock-detail-wrap .tab-menus > span, 
body.dark-mode .ai-recomm-wrap .tab-menus > span, 
body.dark-mode .stock-detail-wrap .tab-sub-menus span{border: 1px solid #fff; color: #fff;}

body.dark-mode .stock-detail-wrap .tab-sub-menus span.btn-color{border: 1px solid #FA7260;}

body.dark-mode .price{color: #fff;}
body.dark-mode .stock-detail-wrap .stock-summery-card .stock-info h1 strong, 
body.dark-mode .ai-recomm-wrap .stock-summery-card .stock-info h1 strong{color: #fff;}

body.dark-mode .volatility-risk, 
body.dark-mode .supply-risk, 
body.dark-mode .stability-risk, 
body.dark-mode .profitability{background-color: transparent;}

body.dark-mode .volatility-risk > ul li, 
body.dark-mode .supply-risk > ul li, 
body.dark-mode .stability-risk > ul li, 
body.dark-mode .profitability > ul li{background-color: transparent;}

body.dark-mode .volatility-chart-wrap h4, 
body.dark-mode .supply-risk-chart-wrap h4, 
body.dark-mode .stability-risk-chart-wrap h4, 
body.dark-mode .profitability-chart-wrap h4{background-color: transparent;}

body.dark-mode .volatility-gauge, 
body.dark-mode .supply-risk-gauge, 
body.dark-mode .stability-gauge, 
body.dark-mode .profitability-gauge{background-color: transparent;}

body.dark-mode .volatility-gauge .volatility-gauge-wrap, 
body.dark-mode .supply-risk-gauge 
body.dark-mode .supply-risk-gauge-wrap, 
body.dark-mode .stability-gauge .stability-gauge-wrap, 
body.dark-mode .profitability-gauge .profitability-gauge-wrap{background-color: transparent;}

body.dark-mode .recommend-cards-container .recommend-card{background-color: transparent;}
body.dark-mode .news-top3 .news-card{background-color:  transparent !important;}
body.dark-mode .total-risk-analysis-wrap{background-color: #2b3951; border: 1px solid #2b3951;}
body.dark-mode .total-risk-analysis .total-risk-analysis-wrap > div{background-color:#273142; border: 1px solid #273142;}

body.dark-mode .MuiBox-root p{color:#fff}


body.dark-mode .news-modal-container{background-color: #1B222E;}
body.dark-mode .news-modal-header{background-color: #2d384c;}